* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
ol,
ul,
p {
  margin: 0px;
}

ul,
ol,
dl {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
}
